<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <!-- For Global Declaration of init and destroy include the below line
   default-init-method="myInit" default-destroy-method="cleanUp"
   > -->
   
   <!-- <bean id="newMessage" class="com.testSpring.HelloWorld">
   <property name = "myMessage" value = "This is a Spring Text......"/>
   </bean>
   <bean id="helloHussain" class="com.testSpring.HelloWorld">
   <property name="myMessage" value="Hi Hussain Welcome to Spring World"/>
   </bean> -->
   
   <!-- <bean id="newMessage" class="com.testSpring.HelloWorld">
   <constructor-arg name = "myMessage" value = "This is a Spring Text......"/>
   </bean>
   <bean id="helloHussain" class="com.testSpring.HelloWorld">
   <constructor-arg name="myMessage" value="Hi Hussain Welcome to Spring World"/>
   </bean> -->
   
   <!-- <bean id="newMessage" class="com.testSpring.HelloWorld">
   <constructor-arg value = "This is a Spring Text......"/>
   <constructor-arg value = "21"/>
   </bean>
   <bean id="helloHussain" class="com.testSpring.HelloWorld">
   <constructor-arg value="Hi Hussain Welcome to Spring World"/>
   <constructor-arg value="21"/>
   </bean> -->
   
  <!--  <bean id="newMessage" class="com.testSpring.HelloWorld">
   <constructor-arg type="java.lang.String" value = "This is a Spring Text......"/>
   <constructor-arg type="int" value = "21"/>
   </bean>
   <bean id="helloHussain" class="com.testSpring.HelloWorld">
   <constructor-arg type="java.lang.String" value="Hi Hussain Welcome to Spring World"/>
   <constructor-arg type="int" value="21"/>
   </bean> -->
   
 <!--   <bean id="newMessage" class="com.testSpring.HelloWorld">
   <constructor-arg index="0" value = "This is a Spring Text......"/>
   <constructor-arg index="1" value = "21"/>
   </bean>
   <bean id="helloHussain" class="com.testSpring.HelloWorld">
   <constructor-arg index="0" value="Hi Hussain Welcome to Spring World"/>
   <constructor-arg index="1" value="21"/>
   </bean> -->
   
   
  <!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="zeroPoint"/>
   <property name="pointB" ref="Point2"/>
   <property name="pointC" ref="Point3"/>   
   </bean>
   
   <bean id="zeroPoint" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="Point2" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "Point3" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> -->
   <!--  ISOLATING A BEAN(Inner Bean) & Alias -->
    <!-- <bean id="zeroPoint" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>  
    <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" name="triangle-name">
   <property name="pointA" ref="zeroPoint"/>
   <property name="pointB">
   		<bean class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   </property>
   <property name="pointC">
   		<bean class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean>
   </property>   
   </bean>
    
   <alias name="getTrianglePoints" alias="triangle"/> -->
   
   <!-- Collections -->
    <!-- <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="listOfPoints" >
   <list>
   		<ref bean="zeroPoint"/>
   		<ref bean="PointB"/>
		<ref bean="PointC"/> 
   </list>
   </property>
	   </bean>     
  <bean id="PointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="PointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean>
   
   <bean id="zeroPoint" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>  </bean> -->
 <!-- To Declare Scope of beans
 <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" scope="singelton">
	   </bean>     
	 <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" scope="prototype">
	   </bean>     
 -->
 
 
 
  <!-- Inheritance - Normal Property -->
   <!-- <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" autowire="byName">
	   </bean>     
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean> -->
        
        <!-- <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
	   <property name="pointA" ref="pointA"/>	   
	   </bean>     
	   <bean id="triangle1" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="pointB" ref="pointB"/>
	   <property name="pointC" ref="pointC"/>	   
	   </bean>
	   <bean id="triangle2" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="pointB" ref="pointB"/>	   
	   </bean>
	   
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean>
    -->
    <!-- Inheritance-Collection -->
   <!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld"> 
	   <property name="listOfPoints">
	   <list>
	   <ref bean="pointA"/>
	   </list>	   
	   </property>	   
	   </bean>     
	   <bean id="triangle1" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointB"/>
 
	   </list>	   
	   </property>
	   </bean>
	   <bean id="triangle2" class="com.testSpring.HelloWorld" parent="triangle1">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointC"/>   
	   </list>	   
	   </property>
	   </bean>
	   

	   
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean> -->
 <!-- Init-Destroy Method for each bean -->
<!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" init-method="myInit" destroy-method="cleanUp"> 
	   <property name="listOfPoints">
	   <list>
	   <ref bean="pointA"/>
	   </list>	   
	   </property>	   
	   </bean>     
	   <bean id="triangle1" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointB"/>
 
	   </list>	   
	   </property>
	   </bean>
	   <bean id="triangle2" class="com.testSpring.HelloWorld" parent="triangle1">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointC"/>   
	   </list>	   
	   </property>
	   </bean>
	      
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean> -->
 
 <!-- Global Declaration of Init & Destroy Method -->
<!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" > 
	   <property name="listOfPoints">
	   <list>
	   <ref bean="pointA"/>
	   </list>	   
	   </property>	   
	   </bean>     
	   <bean id="triangle1" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointB"/>
 
	   </list>	   
	   </property>
	   </bean>
	   <bean id="triangle2" class="com.testSpring.HelloWorld" parent="triangle1">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointC"/>   
	   </list>	   
	   </property>
	   </bean>
	   

	   
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean>
 <bean class="com.testSpring.DisplayBeanNamePostProcessor"/> -->
   
   <!-- BeanPostProcessor -->
<!--     <bean id="getTrianglePoints" class="com.testSpring.HelloWorld" > 
	   <property name="listOfPoints">
	   <list>
	   <ref bean="pointA"/>
	   </list>	   
	   </property>	   
	   </bean>     
	   <bean id="triangle1" class="com.testSpring.HelloWorld" parent="getTrianglePoints">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointB"/>
 
	   </list>	   
	   </property>
	   </bean>
	   <bean id="triangle2" class="com.testSpring.HelloWorld" parent="triangle1">
	   <property name="listOfPoints">
	   <list merge="true">
	   <ref bean="pointC"/>   
	   </list>	   
	   </property>
	   </bean>
	 	   
    <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/> 
    </bean>
  
  <bean id="pointB" class="com.testSpring.Point">
   			<property name="x" value="20"/>
   			<property name="y" value="0"/>
	   </bean>
   <bean id="pointC" class="com.testSpring.Point">
   			<property name="x" value="0"/>
		    <property name="y" value="-20"/>
        </bean>
 <bean class="com.testSpring.DisplayBeanNamePostProcessor"/> -->
 <!-- Bean Factory Post Processor -->
<!--  
 <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean>
   
   <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> 
   <bean class="com.testSpring.DisplayBeanFactoryPP"></bean>
 --> 
<!-- Property placeholder confirgurer -->
 
<!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean>
   
   <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="${PointB.PointX}"/>
   <property name="y" value="${PointB.PointY}"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> 
   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   <property name="locations" value="pointconfigPropertyFile.properties">
   </property>
   </bean> -->
<!-- 	Coding to Interface -->
	
<!--    <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean>
   
   <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> 
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	<property name="center" ref="pointA"/>
	</bean>	 -->
<!-- 	 
	 Required Annotation -->
	 
	   <!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean>
   
   <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> 
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	
	</bean>	
	
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> -->
	<!-- Autowired annotation when one object of a type is related -->
<!-- 	  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean>
    
   <bean id="pointA" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
   <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean> 
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	
	</bean>	
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>--> 
<!-- Autowired when Multiple Points are there(it is then chosen by id match) -->	
<!-- 	  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="center"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean> 
  
   <bean id="center" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
    <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean>  
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	
	</bean>	
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
<!-- Autowired and Qualifier -->
<!--  <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   <property name="pointA" ref="pointA"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean> 
   <context:annotation-config/>
   <bean id="pointA" class="com.testSpring.Point">
   <qualifier value="circleRelated"/>
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
    <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean>  
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	
	</bean>	 -->
	
	<!-- JSR-250 Annotations (Java Specification Request) -->
	<!-- @Resource -->
<!-- 	 <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   Refer Comment section in bean name=getCirclePoints <property name="pointA" ref="pointA"/>
   <property name="pointA" ref="center"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean> 
   <context:annotation-config/>
   Refer Comment section in bean name=getCirclePoints <property name="pointA" ref="pointA"/>  <bean id="pointA" class="com.testSpring.Point">
    <bean id="center" class="com.testSpring.Point"> 
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
    <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean>  
 
	<bean id="getCirclePoints" class="com.testSpring.Circle">
	If resource is present with arguments it will try to match the bean name
	else if not there it will smartly check for the member variable name of class
	with the bean definations over here
	</bean>	 -->
	<!-- Init(@PostConstruct)-(@PreDestroy)Destroy Annotations -->
	<!-- <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   
   <property name="pointA" ref="center"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean> 
   <context:annotation-config/>
   <bean id="center" class="com.testSpring.Point"> 
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
    <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean>  
 
	<bean id="getCirclePoints" class="com.testSpring.Circle"/>
	 -->
	 
	 <!-- @Component Annotation -->
	 <bean id="getTrianglePoints" class="com.testSpring.HelloWorld">
   
   <property name="pointA" ref="center"/>
   <property name="pointB" ref="pointB"/>
   <property name="pointC" ref="pointC"/>   
   </bean> 
   <context:annotation-config/>
   <bean id="center" class="com.testSpring.Point"> 
   <property name="x" value="0"/>
   <property name="y" value="0"/>
   </bean>
    <bean id="pointB" class="com.testSpring.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>
   </bean>
   <bean id= "pointC" class="com.testSpring.Point">
   <property name="x" value="0"/>
   <property name="y" value="-20"/>
   </bean>  
 
	<context:component-scan base-package="com.testSpring" />
		
	
   </beans>